<header>
    
	<!DOCTYPE html>
	<html>
	  <head>
	  
		<link rel="stylesheet" href="/css/main_template.css">
		<link rel="icon" href="/images/shop.png">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
 		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
		 
		<link href="/css/about.css" rel="stylesheet" />
	 
	 


	</head>
	 <title><%= title %></title> 
	   
   
	
	  <body>
		<div class="wrapper static_wrapper">
		  <%- include('../partials/header.ejs') %>
		  
		  <article class="main">
			<div class="main-wrapper">
			  <article class="main-center"> 
				<div class="center_title_bar">About Us</div>

				<% for (var i = 0; i <  shop.abouts.length; i++) { %>
					<div class="about">
						<h3>
							<%= shop.abouts[i].title%>  
						</h3>
						<div class="flex-container">
							<div class="col-md">
								<p><%= shop.abouts[i].value%> </p>
						
							</div>
							<!-- ../uploads/ -->
		
							<div class="col-md">
								<div class="about_img-box">
									<% if (shop.images_url.length > i) { %>
									<img src="<%=shop.images_url[i]%>" alt="">
									<% }%> 
								</div>
							</div>
						</div>
					</div>
				 
				<% }%> 
				
				<% if ( shop.abouts.length > 1 ) { %>
					<div class="flex-container ">
						<a class="next" href="#" onclick="next(1)"> <  </a>
						<a class="next" href="#" onclick="next(1)"> > </a>
				    </div>
			 	<% }%> 
				 
			  </article> 
			  <%- include('../partials/aside.ejs') %>
			  <%- include('../partials/login_aside.ejs') %>
		  </div>
		 
		  </article>
		  <script src="/js/about.js"></script>
		  <%- include('../partials/footer.ejs') %> 
		</div>
	</body>
  </html>
 
  
  
   