 
 

<header>
    
  <!DOCTYPE html>
  
  <html>
  
  <head>
      
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="icon" href="/img/weather.png">
  
  </head>
   <title><%= title %></title> 
   
   
   </header>
<body>

  





  <div class="wrapper">
    <div class="main">
      <div class="rowwrapper">
        <div  class="main2">
          <div  id="productsWrapper" >

          <div  class="flex-container add">
            <span class="flex-item"> Products</span>
            <a class="flex-item" onclick = addProduct() > <img  class ="actionImg" src="../../images/add.png"></a>

          </div>
          
          <div id="productsDiv" class="grid-wrapper"> 
            
            <% products.forEach(function(product) { %>
              <div class ="box zone "> 
                <%  if ( product.images[0]) { %> <img  class="" src="../../uploads/<%= product.images[0] %>"> <% }
                    else  { %>  <img  class="" src="../../uploads/default.jpeg"> <% }  %>
                <p><%= product.name %></p>
                <p><%= product.description %></p>
                <p><%= product.price %> $</p>
                <a onclick="editProduct('<%= product._id %>')">Edit</a> 
                <a onclick="deleteProduct('<%= product._id %>')">Delete</a> 
              </div>
            <% }); %>
          </div>
          </div>
          <div id = "popup" style="display: none;">  
             <a class="close" onclick="closePopUp()" ><img src="../../images/close.png"> </a>

            <div class="grid-wrapper" style="display: none;" id ="imagesDiv">
          
              <a class="close" onclick="closeImages()" ><img src="../../images/close.png"> </a>

              <ul id = "images"></ul>
            </div>
            <form id="contact" action="" method="post">
            
              <h3>Update</h3>
              
              <div class="flex-container">
                <label class="flex-item">  Name</label>
                <input class="flex-item" placeholder="Name" id="formname" name="formname" type="text" tabindex="1" required autofocus>
               
              </div>
            
              <div class="flex-container">
                 <label class="flex-item">  Category</label>
                <select class="flex-item" name="categories">
                  <% categories.forEach(function(category) { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                  <% }); %>
                </select>
              </div>
              
            
              <div class="flex-container">
                <label class="flex-item">  Description</label>
                <textarea class="flex-item" id ="description" name="description" placeholder="Product Description...." tabindex="5" required></textarea>
              </div>
               <div class="product">
                  <div class="flex-container">
                    <label class="flex-item">  Price</label>
                    <input class="flex-item"  id="price" name="price" placeholder="Price" type="text" tabindex="2" >
                </div>
                <div class="flex-container">
                  <label class="flex-item">  Attributes  </label> 
                  <a class="flex-item" onclick="addAttributes(true)"><img src="../../images/add.png"></a>
                </div>
                <div class="flex-container">
                    <ul class=" nested"  id = "attributes"></ul>
                 </div>
                 <div class="flex-container">
                    <label class="flex-item"> Images Attributes  </label> 
                    <a class="flex-item" onclick="addAttributes(true)"><img src="../../images/add.png"></a>
                  </div>
                  <div class="flex-container"> 
                    <ul class="flex-item nested" id = "imgAttributes"></ul>
                  </div>

                 
                
                  <div class="flex-container">
                    <label class="flex-item"> Details </label> 
                    <a  onclick="addDetails()"> <img src="../../images/add.png"></a> 
                  </div>
                    <div class="flex-container"> 
                    <ul class="flex-item nested" id = "details"></ul>
                  </div>

                  <div class="flex-container">
                    <label class="flex-item"> Tags </label> 
                    <a  onclick="addTags()"> <img src="../../images/add.png"></a> 
                  </div>
                    <div class="flex-container"> 
                    <ul class="flex-item" id = "tags"></ul>
                  </div>
                  
            </div>
            <div class="flex-container">
              <a onclick="showImages()"> Images... </a> 
            </div>
            
            <div class="flex-container">
              <!-- <ul id = "images"></ul> -->
                Select images: <input type="file" onchange="loadImageFileAsURL()" id="productFiles" name="myFiles" multiple>
            </div>
           
            <div class="flex-container">
              <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>

            </div>
            <input type="hidden" value = "" id="id"  name="id">
          </form>

          <div id ="fileDiv"></div>
          <input type="hidden" value ='<%= shopname %>' id=shopname>

          </div>
        </div>
      
        <aside class="aside2 aside-1">  
          <ul>
            <li><a onclick="addCategory()">New Category</a></li>
          </ul>
          <%- include('../partials/categories.ejs') %>
        </aside>
      </div> 
    </div>
    <aside class="aside header">
      <%- include('../partials/search.ejs') %>
    </aside>
    <aside class="aside footer">
      <%- include('../partials/footer.ejs') %>
    </aside>
  </div>
 
 


 
  <script src="/js/admin.js"></script>
 
</body>
     
 
      