


 

   <head>
    
    <!DOCTYPE html>
    
    <html>
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="icon" href="/img/weather.png">
      <title><%= title %></title> 
    </head>
    <body>



      <div class="wrapper">
        <%- include('../partials/adheader.ejs') %>
        <article class="main">

 


          <div id = "popup" style="display: none;" >  
            <a class="close" onclick="closePopUp()" ><img src="../../images/close.png"> </a>
            <div  style="display: none;" id ="imagesDiv">
              <a class="close" onclick="closeImages()" ><img src="../../images/close.png"> </a>
              <ul class="grid-wrapper"id = "images"></ul>
            </div>
            <form id="contact"  method="post">
            
              <h3 id="action"></h3>
              
              <div class="flex-container">
                <label class="flex-item">  Name</label>
                <input class="flex-item" placeholder="Name" id="formname" name="formname" type="text" tabindex="1" required autofocus>
              </div>
              <div class="flex-container">
                <label class="flex-item">  Category</label>
                <select class="flex-item" name="categories" required>
                  <!-- <option value="">None</option> -->

                  <% categories.allcategories.forEach(function(category) { %>
                    <option value="<%= category._id %>"><%= category.name %></option>

                  <% }); %>
                </select>
              </div>
            
              <div class="flex-container">
                <label class="flex-item">  Description</label>
                <textarea class="flex-item" id ="description" name="description" placeholder="Product Description...." tabindex="5" required></textarea>
              </div>
              <div class="product">
                  <div class="flex-container">
                    <label class="flex-item">  Price</label>
                    <input class="flex-item"  id="price" name="price" placeholder="Price" type="text" tabindex="2" >
                  </div>
                  <div class="flex-container">
                    <label class="flex-item">  Promotion</label>
                    <select class="flex-item" name="promotion">
                      <option value="0"> false</option>
                      <option value="1"> true</option>
                    </select>
                  </div>
                  <div class="flex-container">
                    <label class="flex-item">  Available</label>
                    <select class="flex-item" name="available">
                      <option value="1"> Available</option>
                      <option value="0"> Out Of Stock</option>
        
                    </select>
                  </div>

                  <div class="flex-container">
                    <label class="flex-item">  Attributes  </label> 
                    <a   onclick="addAttributes2()"><img src="../../images/add.png"></a>
                  </div>
                  <div class="flex-container">
                    <ul class="flex-item "  id = "ulAttributes"></ul>
                  </div>
                  <div class="flex-container">
                    <label class="flex-item"> Images Attributes  </label> 
                    <a   onclick="addAttributes(true)"><img src="../../images/add.png"></a>
                  </div>
                  <div class="flex-container"> 
                    <ul class="flex-item " id = "imgAttributes"></ul>
                  </div>
                
                  <div class="flex-container">
                    <label class="flex-item"> Details </label> 
                    <a  onclick="addDetails()"> <img src="../../images/add.png"></a> 
                  </div>
                    <div class="flex-container"> 
                    <ul class="flex-item nested" id = "details"></ul>
                  </div>

                  <div class="flex-container">
                    <label class="flex-item"> Tags </label> 
                    <a  onclick="addTags()"> <img src="../../images/add.png"></a> 
                  </div>
                    <div class="flex-container"> 
                    <ul class="flex-item" id = "tags"></ul>
                  </div>
                  
              </div>
              <div class="flex-container">
                <a onclick="showImages()"> Images... </a> 
              </div>
            
              <div class="flex-container">
                  Select images: <input type="file" onchange="loadImageFileAsURL()" id="productFiles" name="myFiles" multiple>
              </div>
            
              <div class="flex-container">
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>

              </div>
    
              <div class="flex-container">
                <label id="err"></label>

              </div>

              <input type="hidden" value = "" id="id"  name="id">
            </form>
      
            <div id ="fileDiv"></div>
            <input type="hidden" value ='<%= shopname %>' id=shopname>
      
          </div>
          <div   id="productsWrapper" >

            <div  class="flex-container add">
              <a onclick="addProduct()" href="#" class="prod_buy_big">Add Product</a>
              <a onclick="addCategory()" href="#" class="prod_buy_big">Add Category</a>
              <% if( categories.curId ) {%>
                <a onclick = 'editCategory("<%= categories.curId %>")'  href="#" class="prod_buy_big">Edit Category</a>
                <a onclick = 'deleteCategory("<%= categories.curId %>")'  href="#" class="prod_buy_big">Delete Category</a>

              <% }   %>
              <a onclick = "showContacts()" href="#" class="prod_buy_big">Contacts</a>
              <a onclick = "showOrders()" href="#" class="prod_buy_big">Orders</a>


              
            </div>

         



            <section id="productsDiv" class="grid-wrapper">
              <% products.products.forEach(function(product) { %>
                <div class="product-card">
                  <div class="product-image">   
                    <% if ( product.images[0]) { %>
                      <img alt="" border="0"  src="../../uploads/<%= product.images[0] %>"></img> 
                    <% } else  { %>
                      <img  src="../../images/default.jpg"></img> 
                    <% }  %>
                  </div>
              
                  <div class="product-info">
                    <label><%= product.name %> </label>
                    <a onclick="editProduct('<%= product._id %>')">Edit</a> 
                    <a onclick="deleteProduct('<%= product._id %>')">Delete</a>            
                  </div>
          </div>
              <% }); %>
              </section>

         
            
          </div>
          <section id="contacts" style="display: none;" class="flex-item">
            <div class="center_title_bar">Contacts</div>

            <a class="close" onclick="closeContacts()" ><img src="../../images/close.png"> </a>
            <% contacts.forEach(function(contact) { %>
              <div class="contact_form ">
                <div>
                  <label class="contact">Name:</label>
                  <label class="contact"><%= contact.name %></label>
                  <label class="contact"> Phone: </label>
                  <label class="contact" ><%= contact.phone %></label>
                </div>
                <div>
                  <label class="contact">Email:</label>
                  <label class="contact"><%= contact.email %></label>
                </div>
                <div >
                  <label class="contact"><strong>Message:</strong></label>
                  <span><%= contact.msg %></span>
                </div>
                <div>
                  <label class="contact "><strong>Reply:</strong></label>
                  <textarea   placeholder="Reply..."   name="msg" tabindex="5" class="reply contact_textarea"><%= contact.reply %></textarea>
                </div>
                <div class="order-details">
                  <input class="prod_details"  onclick = replay(this,"<%= contact._id %>") type="button" value="Send">  
                  <input class="prod_details_red"  onclick = deleteContact(this,"<%= contact._id %>") type="button" value="Delete">  
                </div>  
                

           

              </div>
  
              <% })  %>

          </section>
          <section id ="orders" style="display: none;" class="main-center">
            <a class="close" onclick="closeOrders()" ><img src="../../images/close.png"> </a>

            <% if(orders.length > 0) { %>
            <div class="center_content_fix">
              <div class="center_title_bar">Orders</div>
              <div class="order-container">

                  <% orders.forEach(function(order) { %>
                    <% var line='even-order' %> 
                    <div class="order-details">
                      <span>Status :
                      <%var select=['','','']; select[order._id.status]='selected';  %>
                      <select  class="" name="status" >
                        <option  <%=select[0]%> value="0">Open</option>
                        <option  <%=select[1]%> value="1">Paid</option>
                        <option  <%=select[2]%> value="2">Closed</option>

                      </select>
                    </span>
                      <%  var create = order._id.createdAt.getDate() + "-" + (order._id.createdAt.getMonth() + 1) + "-" + order._id.createdAt.getFullYear()   %>
                      <%  var updated = order._id.updatedAt.getDate() + "-" + (order._id.updatedAt.getMonth() + 1) + "-" + order._id.updatedAt.getFullYear()   %>
                      <span>    Create:  <%= create %> </span>
                      <span>    Updated:  <%= updated %> </span>
                    </div>
                    <div class="order-details">
                      <h3><strong>Order Summary</strong></h3>
                    </div>
                    <div class="order-details">
                      <span>Item </span><span>Price </span>  <span>Quantity</span>     <span>Total</span>      
                    </div>
                    <% order.products.forEach(function(product) { %> 
                      <div class=" <%= line %> order-details">
                        <span> <%= product.name %> </span><span> <label class="calc"><%= product.price %> </label></span>  
                        <span  > 
                            <label class="calc"><%= product.count %></label>  
                          </span>    
                          <span class="calc" > <%= product.count * product.price %></span>
                        <%  line =line=='odd'? 'even-order' :'odd' %> 
                      </div>
                    <% }); %>
                    <div class="order-details">
                      <input class="prod_details" onclick="changeStatus(this,'<%=order._id.id %>')" type="button" value="Update">
                      <input class="prod_details_red" onclick="deleteOrder(this,'<%=order._id.id %>')" type="button" value="Delete">
                      <label></label>       
                    </div>
                  <% }); %>
              </div>
            </div>
            <% } %>
        </section>
        </article>
        
            <%- include('../partials/aside.ejs') %>
        
       
        <footer class="footer">Footer</footer>
      </div>

       



      <script id="attributes-li-template" type="text/html">
      <li class="flex-item">
        <div class="flex-container nested">
          <input type="text" value='{{name}}' placeholder="name" required>
          <a onclick="removeli(parentNode)"> <img src="../../images/delete.png"></a>
          <a href="#" onclick="createAttListItem(parentNode)">
            <img src="../../images/add.png">
          </a>
        </div>



        
        <ul class="flex-item nested">


          {{#values}}
          <li><div class="flex-container nested"> 
            <input type="text" value="{{.}}" placeholder="value" required="">
            <a onclick="removeli(parentNode)"> 
              <img src="../../images/delete.png">
            </a>
           </div>
          </li>
       {{/values}}



         



        </ul>
      </li>

      </script>

      <script id="img-attributes-li-template" type="text/html">

      <li class="flex-item">
        <div class="flex-container nested">
          <input type="text"  value='{{name}}' placeholder="name" required="">
          <a onclick="removeli(parentNode)"> 
            <img src="../../images/delete.png">
          </a> 
          <a href="#" onclick="createImgAttListItem(parentNode)">
            <img src="../../images/add.png">
          </a>
        </div>
        <ul class="flex-item nested">
          {{#values}}
          <li>
            <div class="flex-container nested">
              <input type="text" value="{{value}}" placeholder="value" required="">
              <input disabled="disabled" type="text" value="{{img}}" placeholder="Select Image.." required="">
              <div class="big-wrap">
                <div class="big" onmouseover="hover(this,'{{img}}')">
                  <img class="to-big" style="display:block" src="../../uploads/{{img}}"> 
                </div>
              </div>
              <a onclick="selectAttImg(this)"><img src="../../images/select.png"></a>
              <a onclick="removeli(parentNode)"> <img src="../../images/delete.png"></a>
            </div>
          </li>
          {{/values}}
        </ul>
      
      </li>

  </script>






      
      <script id="images-li-template" type="text/html">
        <div class=images>
          <img onclick="selectImage(this,'{{img}}')"   style="display:{{display}}"  src = "../../uploads/{{img}}" > 
        </div> 
        <div > 
           <input type='text' disable='disable' value = '{{name}}' placeholder='name' required>
          <a href='#' onclick=removeimgli(parentNode,{{name}})><img src='../../images/delete.png'></a></div></li>
        </div>

        <!-- <div class="images"><img onclick="selectImage(this,'61zT1SR09CL._AC_UL320_-1596379219516.jpg')" src="../../uploads/61zT1SR09CL._AC_UL320_-1596379219516.jpg"></div>
 -->
    </script>



























    
      <script id="img-li-template" type="text/html">
          <div class="flex-container nested">
            <input type="text" value = "{{name}}"  placeholder="value" required >
            <input  disabled="disabled" type="text" value = "{{img}}"  placeholder="Select Image.." required >
            <div class="big-wrap">
              <div class="big" onmouseover="hover(this,{{img}})">
                 <img class="to-big"  style="display:{{display}}"  src = "../../uploads/{{img}}" > 
              </div>
            </div>
           <a onclick="selectAttImg(this)"><img src="../../images/select.png"></img></a>
           <a onclick="removeli(parentNode)"> <img src="../../images/delete.png"></img></a>
          </div>
      </script>

      <script id="li-value-template" type="text/html">
        <div> <input type='text' value = "{{name}}"  placeholder='{{placeholder}}' required>
          <a onclick='removeli(parentNode)'><img src='../../images/delete.png'></img></a></div></li></div>


       
    </script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
     
  </body>
</html>










 
 



























 

 
  <script src="/js/admin.js"></script>
 

     
 
      