 
 
<%- include('../partials/header.ejs') %>

<body>
  <div class="wrapper">
      <div class="main">
        <div class="rowwrapper">
          <div  class="main2">
            <a onclick = addProduct() >Add Product</a>
              <div id="productsDiv" class="grid-wrapper"> 
                
                <% products.forEach(function(product) { %>
                     <div class ="box zone "> 
                        <%  if ( product.images[0]) { %> <img  class="" src="../../uploads/<%= product.images[0] %>"></img> <% }
                            else  { %>  <img  class="" src="../../uploads/default.jpeg"></img> <% }  %>
                        <p><%= product.name %></p>
                        <p><%= product.description %></p>
                        <p><%= product.price %> $</p>
                        <a onclick="editProduct('<%= product._id %>')">Edit</a> 
                        <a onclick="deleteProduct('<%= product._id %>')">Delete</a> 
                      </div>
                <% }); %>
              </div>
              <div id = "popup" style="display: none;" class="container">  
             
                <form id="contact" action="" method="post">
                  <h3>Update</h3>
                 
                  <fieldset>
                    <span>  Name</span>
                    <input placeholder="Name" id="formname" name="formname" type="text" tabindex="1" required autofocus>
                  </fieldset>
                  <fieldset class="product">
                    <span>  Price</span>
                    <input  id="price" name="price" placeholder="Price" type="text" tabindex="2" >
                  </fieldset>
                 
                  <fieldset>
                    <span>  Category</span>
                    <select id="formcategories" name="category">
                      <% categories.forEach(function(category) { %>
                        <option value="<%= category._id %>"><%= category.name %></option>
                      <% }); %>
                    </select>
                  </fieldset>
                  <fieldset>
                    <div>
                    <span>  Description</span>
                    <textarea id ="description" name="description" placeholder="Product Description...." tabindex="5" required></textarea>
                  </div>
                  </fieldset>
                  <fieldset class="product">
                    <a onclick="addAttributes()"> Add Attributes</a> 
                    <ul id = "attributes"></ul>
                  </fieldset>
    
                  <fieldset class="product">
                    <a onclick="addDetails()"> Add Details</a> 
                    <ul id = "details"></ul>
                  </fieldset>
    
                  <fieldset class="product">
                    <a onclick="addTags()"> Add Tags</a> 
                    <ul id = "tags"></ul>
                  </fieldset>
    
                  <fieldset>
                    <ul id = "images"></ul>
                  </fieldset>
                  
                  <fieldset>
                     <ul id = "images"></ul>
                    Select images: <input type="file" onchange="loadImageFileAsURL()" id="productFiles" name="myFiles" multiple>
                  </fieldset>
                  
                  <fieldset>
                   <a onclick="closePopUp()" >Cancel</a>
                  </fieldset>
    
                  <fieldset>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                  </fieldset>
           
                  
                  <input type="hidden" value = "" id="id"  name="id">
    
                  
    
                  <!-- <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p> -->
                </form>
    
    
                <div id ="fileDiv"></div>
                <input type="hidden" value ='<%= shopname %>' id=shopname>

              <!-- </div> -->
          </div>
        </div>
        <aside class="aside2 aside-1">  <%- include('../partials/categories.ejs') %>
        </aside>
       </div> 
    </div>
    <aside class="aside header">
      <%- include('../partials/search.ejs') %>
    </aside>
    <aside class="aside footer">
      <%- include('../partials/footer.ejs') %>
    </aside>
  </div>

  <script src="/js/admin.js"></script>
 
</body>
     
 
      