


 

   <head>
    
    <!DOCTYPE html>
    
    <html>
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="icon" href="/img/weather.png">
    </head>
    <body>



      <div class="wrapper">
        <%- include('../partials/adheader.ejs') %>
        <article class="main">
          <div id = "popup" style="display: none;" >  
            <a class="close" onclick="closePopUp()" ><img src="../../images/close.png"> </a>
            <div  style="display: none;" id ="imagesDiv">
              <a class="close" onclick="closeImages()" ><img src="../../images/close.png"> </a>
              <ul class="grid-wrapper"id = "images"></ul>
            </div>
            <form id="contact"  method="post">
            
              <h3 id="action">Update</h3>
              
              <div class="flex-container">
                <label class="flex-item">  Name</label>
                <input class="flex-item" placeholder="Name" id="formname" name="formname" type="text" tabindex="1" required autofocus>
              </div>
              <div class="flex-container">
                <label class="flex-item">  Category</label>
                <select class="flex-item" name="categories" required>
                  <option value="0">Select</option>

                  <% categories.allcategories.forEach(function(category) { %>
                    <option value="<%= category._id %>"><%= category.name %></option>

                  <% }); %>
                </select>
              </div>
            
              <div class="flex-container">
                <label class="flex-item">  Description</label>
                <textarea class="flex-item" id ="description" name="description" placeholder="Product Description...." tabindex="5" required></textarea>
              </div>
              <div class="product">
                  <div class="flex-container">
                    <label class="flex-item">  Price</label>
                    <input class="flex-item"  id="price" name="price" placeholder="Price" type="text" tabindex="2" >
                  </div>
                  <div class="flex-container">
                    <label class="flex-item">  Promotion</label>
                    <select class="flex-item" name="promotion">
                      <option value="0"> false</option>
                      <option value="1"> true</option>
                    </select>
                  </div>
                  <div class="flex-container">
                    <label class="flex-item">  Available</label>
                    <select class="flex-item" name="available">
                      <option value="1"> Available</option>
                      <option value="0"> Out Of Stock</option>
        
                    </select>
                  </div>

                  <div class="flex-container">
                    <label class="flex-item">  Attributes  </label> 
                    <a   onclick="addAttributes(false)"><img src="../../images/add.png"></a>
                  </div>
                  <div class="flex-container">
                    <ul class="flex-item "  id = "ulAttributes"></ul>
                  </div>
                  <div class="flex-container">
                    <label class="flex-item"> Images Attributes  </label> 
                    <a   onclick="addAttributes(true)"><img src="../../images/add.png"></a>
                  </div>
                  <div class="flex-container"> 
                    <ul class="flex-item " id = "imgAttributes"></ul>
                  </div>
                
                  <div class="flex-container">
                    <label class="flex-item"> Details </label> 
                    <a  onclick="addDetails()"> <img src="../../images/add.png"></a> 
                  </div>
                    <div class="flex-container"> 
                    <ul class="flex-item nested" id = "details"></ul>
                  </div>

                  <div class="flex-container">
                    <label class="flex-item"> Tags </label> 
                    <a  onclick="addTags()"> <img src="../../images/add.png"></a> 
                  </div>
                    <div class="flex-container"> 
                    <ul class="flex-item" id = "tags"></ul>
                  </div>
                  
              </div>
              <div class="flex-container">
                <a onclick="showImages()"> Images... </a> 
              </div>
            
              <div class="flex-container">
                  Select images: <input type="file" onchange="loadImageFileAsURL()" id="productFiles" name="myFiles" multiple>
              </div>
            
              <div class="flex-container">
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>

              </div>
    
              <div class="flex-container">
                <label id="err"></label>

              </div>

              <input type="hidden" value = "" id="id"  name="id">
            </form>
      
            <div id ="fileDiv"></div>
            <input type="hidden" value ='<%= shopname %>' id=shopname>
      
          </div>
          <div   id="productsWrapper" >

            <div  class="flex-container add">
              <a onclick="addProduct()" href="#" class="prod_buy_big">Add Product</a>
              <a onclick="addCategory()" href="#" class="prod_buy_big">Add Category</a>
              <% if( categories.curId ) {%>
                <a onclick = 'editCategory("<%= categories.curId %>")'  href="#" class="prod_buy_big">Edit Category</a>
                <a onclick = 'deleteCategory("<%= categories.curId %>")'  href="#" class="prod_buy_big">Delete Category</a>

              <% }   %>
              <a onclick = "showContacts()" href="#" class="prod_buy_big">Contacts</a>
  
            </div>

            <section id="contacts" style="display: none;" class="flex-item">
              <a class="close" onclick="closeContacts()" ><img src="../../images/close.png"> </a>
              <% contacts.forEach(function(contact) { %>
                <div class="contact_form ">
                  <div>
                    <label class="contact">Name:</label>
                    <label class="contact"><%= contact.name %></label>
                    <label class="contact"> Phone: </label>
                    <label class="contact" ><%= contact.phone %></label>
                  </div>
                  <div>
                    <label class="contact">Email:</label>
                    <label class="contact"><%= contact.email %></label>
                  </div>
                  <div >
                    <label class="contact"><strong>Message:</strong></label>
                    <span><%= contact.msg %></span>
                  </div>
                  <div>
                    <label class="contact "><strong>Reply:</strong></label>
                    <textarea   placeholder="Reply..."   name="msg" tabindex="5" class="reply contact_textarea"><%= contact.reply %></textarea>
                  </div>
                  <div>
                    <input class="prod_details"  onclick = replay(this,"<%= contact._id %>") type="button" value="Send">  
                    <input class="prod_details_red"  onclick = deleteContact(this,"<%= contact._id %>") type="button" value="Delete">  
                  </div>  
                </div>
    
                <% })  %>

            </section>

            <section id="productsDiv" class="grid-wrapper">
              <% products.products.forEach(function(product) { %>
                <div class="product-card">
                  <div class="product-image">   
                    <% if ( product.images[0]) { %>
                      <img alt="" border="0"  src="../../uploads/<%= product.images[0] %>"></img> 
                    <% } else  { %>
                      <img  src="../../images/default.png"></img> 
                    <% }  %>
                  </div>
              
                  <div class="product-info">
                    <label><%= product.name %> </label>
                    <a onclick="editProduct('<%= product._id %>')">Edit</a> 
                    <a onclick="deleteProduct('<%= product._id %>')">Delete</a>            
                  </div>
          </div>
              <% }); %>
              </section>
          </div>
        
        </article>
        
            <%- include('../partials/categories.ejs') %>
        
       
        <footer class="footer">Footer</footer>
      </div>
  </body>
</html>










 
 



























 

 
  <script src="/js/admin.js"></script>
 

     
 
      