 
 
<%- include('../partials/header.ejs') %>

<body>
  <div class="wrapper">
    <div class="main">
      <div class="rowwrapper">
        <div  class="main2">
          <a onclick = addProduct() >Add Product</a>
          <div id="productsDiv" class="grid-wrapper"> 
            
            <% products.forEach(function(product) { %>
              <div class ="box zone "> 
                <%  if ( product.images[0]) { %> <img  class="" src="../../uploads/<%= product.images[0] %>"></img> <% }
                    else  { %>  <img  class="" src="../../uploads/default.jpeg"></img> <% }  %>
                <p><%= product.name %></p>
                <p><%= product.description %></p>
                <p><%= product.price %> $</p>
                <a onclick="editProduct('<%= product._id %>')">Edit</a> 
                <a onclick="deleteProduct('<%= product._id %>')">Delete</a> 
              </div>
            <% }); %>
          </div>
          <div id = "popup" style="display: none;">  
            
            <div class="grid-wrapper" style="display: none;" id ="imagesDiv">
              <a onclick="closeImages()" >Cancel</a>

              <ul id = "images"></ul>
            </div>
            <form id="contact" action="" method="post">
            
              <h3>Update</h3>
              
              <fieldset>
                <span>  Name</span>
                <input placeholder="Name" id="formname" name="formname" type="text" tabindex="1" required autofocus>
              </fieldset>
             
              
              <fieldset>
                <span>  Category</span>
                <select  name="categories">
                  <% categories.forEach(function(category) { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                  <% }); %>
                </select>
              </fieldset>
              <fieldset>
                <div>
                <span>  Description</span>
                <textarea id ="description" name="description" placeholder="Product Description...." tabindex="5" required></textarea>
              </div>
              </fieldset>
              <div class="product">
                
                <fieldset>
                  <span>  Price</span>
                  <input  id="price" name="price" placeholder="Price" type="text" tabindex="2" >
                </fieldset>
                <fieldset >
                    <span> Attributes  </span> 
                    <a onclick="addAttributes(false)"><img  class ="actionImg" src="../../images/add.png"></img></a> 
                  
                  <ul class="nested"  id = "attributes"></ul>
                </fieldset>
                <fieldset >
                  <div class="box">
                    <label> Images Attributes  </label> 
                    <a onclick="addAttributes(true)"><img src="../../images/add.png"></img></a>
                  </div>
                  <ul id = "imgAttributes"></ul>
                </fieldset>
               
                <fieldset >
                  <div class="box">
                    <label> Details </label> 
                    <a onclick="addDetails()"> <img src="../../images/add.png"></img></a> 
                  </div>
                  <ul id = "details"></ul>
                </fieldset>

                <fieldset >
                  <label> Tags </label> 
                  <a onclick="addTags()"> <img src="../../images/add.png"></img></a> 
                  <ul id = "tags"></ul>
                </fieldset>
            </div>
            <fieldset>
              <a onclick="showImages()"> Images... </a> 
            </fieldset>
            
              <fieldset>
                  <!-- <ul id = "images"></ul> -->
                Select images: <input type="file" onchange="loadImageFileAsURL()" id="productFiles" name="myFiles" multiple>
              </fieldset>
              
              <fieldset>
                <a onclick="closePopUp()" >Cancel</a>
              </fieldset>

              <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
              </fieldset>
        
              
              <input type="hidden" value = "" id="id"  name="id">

              

              <!-- <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p> -->
            </form>

            <div id ="fileDiv"></div>
            <input type="hidden" value ='<%= shopname %>' id=shopname>

          </div>
        </div>
      
        <aside class="aside2 aside-1">  
          <ul>
            <li><a onclick="addCategory()">New Category</a></li>
          </ul>
          <%- include('../partials/categories.ejs') %>
        </aside>
      </div> 
    </div>
    <aside class="aside header">
      <%- include('../partials/search.ejs') %>
    </aside>
    <aside class="aside footer">
      <%- include('../partials/footer.ejs') %>
    </aside>
  </div>
 
 


 
  <script src="/js/admin.js"></script>
 
</body>
     
 
      