<header>
    
  <!DOCTYPE html>
  <html>
    <%- include('../partials/head.ejs') %> 
     
 
  
    <body>
      <div class="wrapper static_wrapper">
        <%- include('../partials/header.ejs') %>
        
        <article class="main">
          <div class="main-wrapper">
            <article class="main-center">
                
              <form  id="contact_form" class="contact_form" enctype="multipart/form-data" action="/users/<%=shopname%>/contact"  method="post">
                <div class="center_title_bar">Contact</div>

                <div >
                  <label class="contact"><strong>Name:</strong></label>
                  <input type="text" value ="doron" name="name" tabindex="1" placeholder="name"  class="contact_input" required autofocus>
                </div>
                <div >
                  <label class="contact"><strong>Email:</strong></label>
                  <input tabindex="2" placeholder="email"  value ="dorperlst@gmail.com" name="email" type="text" class="contact_input" >
                </div>
                <div >
                  <label class="contact"><strong>Phone:</strong></label>
                  <input  placeholder="phone" name="phone"value ="555555555" tabindex="3" type="text" class="contact_input">
                </div>
                <div >
                  <label class="contact"><strong>Message:</strong></label>
                  <textarea  placeholder="Your Message" value ="dffffffffffffffff"  name="msg" tabindex="5" class="contact_textarea"></textarea>
                  

                </div>
                <div><span id="usermsg"><strong></strong></span></div>
                <div >
                  <input class="prod_details" type="submit" value="Send">  

                  
                  
                </div>
              </form>
                
            </article> 
            <%- include('../partials/aside.ejs') %>
            <%- include('../partials/login_aside.ejs') %>
        </div>
          
        </article>
        <script src="/js/product.js"></script>
        <footer class="footer"> <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p></footer>
      </div>
  </body>
</html>
<script src="/js/contact.js"></script>
   

 