<header>
    
    <!DOCTYPE html>
    <html>
      <%- include('../partials/head.ejs') %> 
 
    
  <link rel="stylesheet" href="/css/products.css">
  
 

 
<title><%= title %></title> 
      <body>
      <body>
        <div class="wrapper">
          <%- include('../partials/header.ejs') %>
          <article class="main">
            <div class="main-wrapper">
              <article id="secProducts" class="main-center">
                <%- include('../partials/products.ejs') %>
              </article> 
                <div > 
                  <%- include('../partials/aside.ejs') %>
                </div>
                  <%- include('../partials/login_aside.ejs') %>
            </div>
          </article>
          <%- include('../partials/footer.ejs') %> 
        </div>
    </body>
  </html >
  <% if (  products.productInfo && parseInt(products.productInfo.pageNum) > 1) { %>   
  <script src="/js/products.js"></script>
  <script type="text/javascript">
    pagination("<%= products.productInfo.pageNum %>")
  </script>
   <% }  %>
