

 

   <head>
    
    <!DOCTYPE html>
    
    <html>
        <link rel="stylesheet" href="/css/test.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
      <div class="wrapper static_wrapper">
        <%- include('../partials/header.ejs') %>
       
        <article class="main">
          <div class="main-wrapper">
            <article class="main-center">
              <div class="center_content">
                <div class="center_title_bar"> <%= product.name %></div>
                <div class="prod_box_big">
                  <div class="center_prod_box_big">
                    <div class="product_img_big"> 
        
                    <div class= "flex-container">
                      <div class="productImg flex-item">
                      <a href="javascript:popImage('images/big_pic.jpg')" title="">
                        <% if (product.images && product.images.length > 0) { %>
                          <img id="mainImg" src="../../uploads/<%= product.images[0] %>" alt="" border="0">
                        <% }
                        else  { %>
                          <img  src="../../images/default.jpg"></img> 
                        <% } %>
                      </a>
        
        
        
                      <div class="thumbs flex-grid ">
                        <%  product.images.forEach(function(image) { %>
                          
                        <a href="#"   fade=[on]">  <img onclick=changeImg("<%= image %>") onmouseover=changeImg("<%= image %>")  src="../../uploads/<%= image %>" alt="" border="0"></a> 
                        <% }); %>
                      </div>
                    </div>
        
                    </div>
                      <div class="details_big_box">
                        <div class="product_title_big"><%= product.name %></div>
        
                        <div class="specifications">Available:
                        <% if (product.isavailable) { %>
                          <span class="blue">In stock</span>
                          <% }
                        else  { %>
                          <span class="red">Out of stock</span>
                          <% } %>
                         <br/>
                          Description :<span class="blue">  <%= product.description %>  </span><br>
        
        
                          <%  product.attributes.forEach(function(att) { %>
                          <div>  
                            <label><%=att.name%></label>  <select>
                             <%  att.values.forEach(function(val) { %>
                             <option value="<%= val %>"><%= val %></option>
          
                               <% }); %>
                            </select>
                          </div> 
                             <% }); %>
        
                             <!-- <div class=" flex-container">
                              <label></label>
        
                              <label id="attValue"></label>
                             </div> -->
        
        
        
        
        
        
                              <%  product.imgattributes.forEach(function(att) { %>
                                <div class=" flex-container">
                                  <label><%=att.name%> :</label>
                                  <%  if (att.values.length>0) { %>
                                    <label id="attValue"><%=att.values[0].value%></label>
                                  <% }; %>
        
                                 </div>
                                <div class=" flex-container">
         
                                 <%  att.values.forEach(function(val) { %>
                                  <div class="thumbs  flex-item">
        
                                  <a href="#"   fade=[on]">  
                                    <img onclick=changeImg("<%=val.img%>","<%=val.value%>") onmouseover=changeImg("<%=val.img%>","<%=val.value%>") 
                                     src="../../uploads/<%= val.img %>" alt="" border="0"></a> 
                                  </div>
                                  <% }); %>
                              <% }); %>
                              
                              </div> 
                              <ul>
                                <%  product.details.forEach(function(detail) { %>
                                  <li><%=detail%> </li> 
                                <% }); %>
              
                                </ul>



                                <div class="prod_price_big"><span class="price"> <%= product.price %>$</span>
                                </div>


                                <div class="counter"> 




                                   <div class="input-append">
                                  <button onclick = "addCount(-1)" class="btn btn-mini" type="button">-</button>
                                  <label id="count">1</label> 

                                  <button onclick = "addCount(1)" class="btn btn-mini" type="button"> + </button>
                                  
                                </div>
                              </div>

                                 <a  class="prod_buy" onclick = addToOrder('<%= product._id %>')  href="#" >add...</a> 
                          </div>
                       
        
                      </div>
                    </div>
                    
             
                </div>
              </div>
              
            
            </article> 
            
            <%- include('../partials/aside.ejs') %>

                <%- include('../partials/login_aside.ejs') %>
        </div>
          
        </article>
        <script src="/js/product.js"></script>


       
           
        <footer class="footer">Footer</footer>
      </div>
  </body>
</html>

 