<div class="title_box">Categories</div>
 

<ul class="left_menu" id =ulcategories>
    <% var line='odd' %> 
    <% categories.forEach(function(category) { %> 

        <li class="<%= line %>"  ><a onclick="subCategories('<%= category.name %>','<%= category.parent %>','<%= category._id %>')"><%= category.name %></a></li>
        <%  line =line=='odd'? 'even' :'odd' %> 

     <% }); %>
</ul>
   
