



<aside class="aside aside-1">
  <div class="title_box">Categories</div>
  <% const curCategory= categories.tree.length > 1 ? categories.tree[1] :"";   %>

    <ul class="left_menu" id ="ulcategories">
      <% var line='odd'; %> 
      <% categories.categories[0].entries.forEach(function(category) { %> 
        <% var selected= category.name ==  categories.cur? "selected" :""%> 

          <li class="<%= line %> <%= selected %>    "  >  <a href="/admin?category=<%= category.name %>"  > <%= category.name %> </a>
          </li>
          <% if(curCategory ==  category.name && categories.categories.length > 1){ %> 

            <% categories.categories[1].entries.forEach(function(sub) { %> 
              <%  selected= sub.name == categories .cur? "selected" :""%> 

                <li class="<%= line %> <%= selected %> <%= sub.class %>   nested">  <a href="/admin?category=<%= sub.name  %>"  > <%=  sub.name %> </a>
                </li>
            <% }); %>
          <% }   %>
          <%  line =line=='odd'? 'even' :'odd' %> 
  
       <% }); %>
  </ul>
     



</aside>






 