<div class="title_box">Categories</div>
 

<ul class="left_menu" id =ulcategories>
    <% var line='odd' %> 
    <% categories.forEach(function(category) { %> 

        <li class="<%= category.name %>" onclick="getSubCategories('<%= shopname %>','<%= category.name %>','<%= category._id %>')" ><%= category.name %></li>
        <%  line='even' %> 

     <% }); %>
</ul>
   
<div class="title_box">Special Products</div>