<header class="header">
     <article >
      <div id="navheader">
        <h1 id="logo"><a href="#">Retina</a></h1>
        <ul class="menu">
          <li class="field search push" > 
            <select id="categories">
              <option value="0">--all--</option>
                <% categories.categories.forEach(function(cat) { %>
                  <option value="<%= cat._id %>"><%= cat.name %></option>
                <% }); %>
            </select>
            <input type="text" id="tag"  class="field" placeholder="keywords here ..." title="keywords here ...">
          </li>
          <li>
            <input type="button"  id="searchButton" type="submit" class="search-btn" value="">
          </li>
        </ul>  
      </div>
      <nav >
        <ul class="menu">
          <li><a href="/<%= shopname %>/view" class="nav"> Home </a></li>
          <li><a href="#" class="nav">Products</a></li>
          <li><a href="/<%= shopname %>/contact" class="nav">Contact Us</a></li>

          <% if ( username !='Guest'){ %>
            <li><a href="/<%= shopname %>/account" class="nav login">My account</a></li>
            <li><a onclick="logout()"   class="nav login">Logout </a></li>
            <li><a a onclick="logoutAll()" href="#" class="nav login">Logout  All</a></li>
         
            <% } else  { %>
              <li><a href="/signup" class="nav guest">Sign Up</a></li>
           <% }  %>
         <li class="push"><a  id="userlabel" class="nav icon-lock" href="javascript:void(0)"> Hello  <%= username %> </a></li>
       </ul>
      </nav>
      <nav > 
        <div class="crumb_navigation"> Navigation:
        
          <%  if ( categories.tree.length>1) { %>
      
            <a href="/<%= shopname %>/view" class="navmap"> <span>Home</span>   </a>

            <% for( var i=1; i <categories.tree.length -1; i++) { %>
              
 
              <a href="/<%= shopname %>/view?category=<%= categories.tree[i] %>" class="navmap"> <span><%= categories.tree[i] %></span>   </a>

          <% } %>
         
           <a href="/<%= shopname %>/view?category=<%= categories.tree[categories.tree.length -1] %>" class="navmap"> <span class="current" ><%= categories.tree[categories.tree.length -1] %></span>   </a>

          

          <% }  else{  %>
            <span class="current">Home</span> 

          <% }    %>

        </div>
         
      </nav>
    </article>
    
       <script src="/js/user.js"></script>

   <script type="text/javascript">
      var shopName="<%= shopname %>"
      var username="<%= username %>"
   </script>
   </header>