<login_aside class="aside aside-2">
  <link rel="stylesheet" href="/css/multirange.css">

  <div>
  <% if(username == 'Guest' ){%>
    <login>

      <div class="title_box">Login</div>
      <form id= "loginForm" enctype="multipart/form-data" action="/"  method="post">
          <label>Email</label>
          <input type="text" name="email"  tabindex="1"  value="" id="email"  class="field" placeholder="email.." required title="email...">
          <label>password</label>
            <input type="text"  value = "" required name="password" id="password"  class="field" placeholder="password.."    title="password...">
          <div class="submit"> <input class="prod_buy" type="submit" value="Submit"> </div>
          <div class="flex-container">
            <span id="login_msg"></span>
          </div>
      </form>
     
      <script src="/js/login_aside.js"></script>
  
     </login>
    <% } else {   %>
      <div class="shopping_cart">
        <div class="title_box">Shopping cart</div>
        <div class="cart_details" id="cart_details"> <%= orderStat.totalItems %> items <br>
          <span class="border_cart"></span> Total: <span class="price"><%= orderStat.total %>$</span> </div>
        <div class="cart_icon"><a href="#"><img src="../../images/shoppingcart.png" ></a></div>
      </div>
    <% } %>
  </div>
  <hr>
  <div>
  </br>
 
    <% if(locals.products && products.product_att) { %> 
      <div class="title_box">Filter</div> 
    <ul id ="ul-attributes" >
      <% products.product_att.forEach(function(attribute) { %> 
        <li> 
         
          <a class="attribute">
            <%=attribute._id %>
          </a>
          <%var dis_att =[];%>
          <ul class ="att-ul">
          <% attribute.att.forEach(function(val) { %> 
              <li class ="att-values"> 
                
                <input  type="checkbox"  value=" <%=val%>">
                <label class="att-text" >
                  <%=val%>
                </label>
              </li>
          <% }); %>
        </ul>
        </li>
      <% }); %>
    </ul>
    <a class="attribute">
      Price
      </a>
  <div class='multi-range' data-lbound='10' data-ubound='50'>
      <hr />
      <input type='range' 
            min='10' max='45' step='5' value='10' 
            oninput= oninputLbound(this) ;
      />
      <input type='range' 
            min='15' max='50' step='5' value='50' 
            oninput= oninputUbound(this) ;
      />
  </div>
  <div class="title_box">Sort</div> 

  <!-- <a class="attribute">
    Sort
  </a> -->

  <ul  id="ulSort" class="att-ul">
           
    <li class="att-values"> 
      
      <input type="checkbox" value="price">
      <label class="att-text">
        Price
      </label>
    </li>
 
    <li class="att-values"> 
      
      <input type="checkbox" value="timestamps desc">
      <label class="att-text">
        Time
      </label>
    </li>

</ul>

 
 
    <div class="submit">
       <input class="prod_buy" onClick="refreshAttributes()" type="button" value="Refresh">
     </div>
     <% } %>
  </div>
  </login_aside>

  