<section  class="grid-wrapper">
    <% products.products.forEach(function(product) { %>
      <div class="product-card">
        <div class="center product_title_big"><%= product.name %>
        </div>
        <div class="product-image">   
    <% if ( product.mainimage) { %>
          <img alt="" border="0"  src="../../uploads/<%= product.mainimage %>"></img> 

    <% } else  { %>
      <img  src="../../images/default.jpg"></img> 
      <% }  %>
      </div>
    
      <div class="product-info">
       
          
          <!-- <label><%= product.description %></label> -->
          <span class="price"> <%= product.price %>$</span>
          
          <a  class="prod_details" href="/<%=shopname %>/view/<%= product._id %>" >details... </a>
      </div>
      
    </div>

  <% }); %>

  
  </section>  
  
  <div class="center">
    <% if ( parseInt(products.pager) > 1) { %>   
      <ul id="pager" class="pagination"> 
        <!-- <li><a href=" ">«</a></li>
     
        <li><a href=" ">»</a></li> -->
      </ul>
    <% }  %>
  </div>
    <div class="center">
      <label>showing  <%= products.products.length %>   out of   <%= products.totalRows %></label> 

    </div>

  
  <script src="/js/products.js"></script>
  <script type="text/javascript">
    pagination("<%= products.pager %>")
  </script>
 