<section  class="grid-wrapper">
    <% products.products.forEach(function(product) { %>
      <div class="product-card">
        <div class="center product_title_big"><%= product.name %>
        </div>
        <div class="product-image">   
    <% if ( product.mainimage) { %>
          <img alt="" border="0"  src="../../uploads/<%= product.mainimage %>"></img> 

    <% } else  { %>
      <img  src="../../images/default.jpg"></img> 
      <% }  %>
      </div>
    
     
      <div class="prod_details_tab"> 
        <a href="#" title="header=[Add to cart] body=[&nbsp;] fade=[on]">
          <img src="../../images/cart.gif" alt="" class="left_bt" border="0">
        </a> 
        <a class="price" href="#"> <%= product.price %>$</a>
       <a href="/<%=shopname %>/view/<%= product._id %>"class="details">details</a> </div>
    </div>

  <% }); %>

  
  </section>  
  <% if (  products.productInfo && parseInt(products.productInfo.pageNum) > 1) { %>   
  <div class="center">
    
      <ul id="pager" class="pagination"> 
 
      </ul>
  </div>
    <div class="center">
      <label>showing  <%= products.products.length %>   out of   <%= products.productInfo.totalRows %></label> 

    </div>


    <% }  %>


 